
<div class="container">
  
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#mapping">Mapping</a></li>
    <li><a data-toggle="tab" href="#source">Source</a></li>
    <li><a data-toggle="tab" href="#test">Test</a></li>
  </ul>

  <div class="tab-content">
    <div id="mapping" class="tab-pane fade in active">
      <br/>
      <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5 well">
                <div class='container' [dragula]='"another-bag"' [dragulaModel]='many2'>
                  <div *ngFor='let u of many2' [innerHtml]='u.name' class="content"></div>
                </div>
            </div>
            <div class="col-sm-2">
              
            </div>
            
            <div class="col-sm-5 well">
                <div class='container' [dragula]='"another-bag"' [dragulaModel]='many'>
                  <div *ngFor='let u of many' [innerHtml]='u.name' class="content">
                    
                  </div>
                </div>
            </div>
        </div>
    </div>
     
      
    </div>
    <div id="source" class="tab-pane fade">
      
      <pre>
        <code [innerHTML]="code"></code>
      </pre>
    </div>
    <div id="test" class="tab-pane fade">
      <h2>Testing Code</h2>
      <div class="row">
            <div class="col-sm-5 well">
                <form>
                <div class="form-group">
                  <label>Add Json Code</label>
                  
                  <textarea rows="8" style="width:100%" #userDetails placeholder="Json Data"></textarea>
                </div>
                <div class="form-group">
                  
                  <button (click)="addUser(userDetails.value)">Run Code</button>
                </div>
                <div>
                  <b>Example Format</b>
                  <pre>
                    <code [innerHTML]="example">
                      
                    </code>
                  </pre>
                </div>
              </form>
            </div>
           
            
            <div class="col-sm-5 well">
               <div class='container' [dragula]='"another-bag"' [dragulaModel]='many'>
                  <div *ngFor='let u of many2' [innerHtml]='u.name' class="content">
                    
                  </div>
                </div>
            </div>
      </div>
     

        





    </div>
  </div>
</div>
